[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.1.1"
djangorestframework = "==3.15.2"
gunicorn = "==23.0.0"
markdown = "==3.7"
packaging = "==24.1"
psycopg2-binary = "==2.9.9"
python-dotenv = "==1.0.1"
sqlparse = "==0.5.1"
django-environ = "*"
django-autoslug = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.12"
